<h2>Profile</h2>

<form method="POST">
  <p><strong>Note:</strong> We need your Full name, Security Clearance level and Agvsa Clearance Number for security purposes. If you don't remember the Agvsa Clearance Number, then provide your DOB and Suburb of residence.</p>
  {% csrf_token %}
  {{ form.as_p }}

  <p><strong>Email:</strong> {{ request.user.email }}</p>

<div style="display: flex; gap: 10px;">
    <button type="submit" name="save_profile">Save Profile</button>
    </form>
    <a hx-get="{% url 'account_logout' %}" hx-target="#content" hx-swap="outerHTML">
    <button type="button">Logout</button>
    </a>
</div>

