{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div>
  <h2>Login</h2>
  <form method="POST" 
        hx-post="{% url 'login' %}" 
        hx-target="#content" 
        hx-swap="outerHTML">
    {% csrf_token %}
    <p>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
    </p>
    <p x-data="{ showPassword: false }">
      <label for="password">Password:</label>
      <input :type="showPassword ? 'text' : 'password'" id="password" name="password" required>
    </p>
    <button type="submit">Login</button>
  </form>
  <br>

  <a hx-get="{% url 'register' %}" hx-target="#content" hx-swap="outerHTML">
    <button type="button">Register</button>
  </a>
</div>
{% endblock %}
