{% extends "layouts/box.html" %}
{% load i18n allauth %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
  <h1 class="text-2xl font-bold mb-4">{% trans "Change Password" %}</h1>
  <p class="mb-4 text-gray-700">
    {% trans "Your password is now changed." %}
  </p>
  <div class="flex justify-start">
    <a href="{% url 'account_login' %}" class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4">
      {% trans "Sign In" %}
    </a>
  </div>
{% endblock content %}
