{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr" data-nav-layout="vertical" class="light" data-header-styles="light" data-menu-styles="dark" data-width="fullwidth" data-toggled="close">

    <head>

        <!-- Meta Data -->
        <meta charset="UTF-8">
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="Description" content="Tailwind Responsive Admin Web Dashboard HTML5 Template">
        <meta name="Author" content="Spruko Technologies Private Limited">
        <meta name="keywords" content="tailwind template,tailwind dashboard,tailwind,tailwind admin template,dashboard,tailwind css templates,html dashboard template,tailwind dashboard template,dashboard tailwind,admin,html css templates,html dashboard,html css javascript templates,dashboard tailwind template,tailwind css dashboard">
    
        <!-- Title -->
        <title> Xintra Starterkit - Django Tailwind Premium Admin & Dashboard Template </title>
        
        <!-- Favicon -->
        <link rel="icon" href="{% static 'assets/images/brand-logos/favicon.ico'%}" type="image/x-icon">
    
        <!-- Start::styles -->
        {% include 'components/layouts/styles.html' %}
        {% block styles %}{% endblock %}
        <!-- End::styles -->  

	</head>

	<body class="">

        <!-- Start::main-switcher -->
        {% include 'components/layouts/switcher.html' %}
        <!-- End::main-switcher -->

        <!-- Loader -->
        <div id="loader" >
            <img src="{% static 'assets/images/media/loader.svg'%}" alt="">
        </div>
        <!-- Loader -->

        <div class="page">

            <!-- Start::main-header -->
            {% include 'components/layouts/main-header.html' %}
            <!-- End::main-header -->

            <!-- Start::main-sidebar -->
            {% include 'components/layouts/main-sidebar.html' %}
            <!-- End::main-sidebar -->
            
            <!-- Start::Main-content -->
            <div class="main-content app-content">
                <div class="container-fluid">

                    {% block content %}{% endblock %}

                </div>
            </div>
            <!-- End Main Content-->
            
            <!-- Start::main-modal -->
            {% include 'components/layouts/modal.html' %}
            <!-- End::main-modal --> 
            
            <!-- Start::main-footer -->
            {% include 'components/layouts/footer.html' %}
            <!-- End::main-footer -->        
            
		</div>
        <!-- END PAGE-->

        <!-- Start::scripts -->
        {% include 'components/layouts/scripts.html' %}
        
        <!-- Sticky JS -->
        <script src="{% static 'assets/js/sticky.js'%}"></script>
        
        <!-- Defaultmenu JS -->
        <script src="{% static 'assets/js/defaultmenu.min.js'%}"></script>

        {% block scripts %}{% endblock %}

        <!-- Custom-Switcher JS -->
        <script src="{% static 'assets/js/custom-switcher.min.js'%}"></script>

        <!-- Custom JS -->
        <script src="{% static 'assets/js/custom.js'%}"></script>
          
	</body>
</html>