{% load static %}

          <!-- Scroll To Top -->
          <div class="scrollToTop">
               <span class="arrow"><i class="ti ti-arrow-narrow-up text-xl"></i></span>
          </div>
          <div id="responsive-overlay"></div>
          <!-- Scroll To Top -->

          <!-- Switch JS -->
          <script src="{% static 'assets/js/switch.js'%}"></script>

          <!-- Popper JS -->
          <script src="{% static 'assets/libs/@popperjs/core/umd/popper.min.js'%}"></script>

          <!-- Preline JS -->
          <script src="{% static 'assets/libs/preline/preline.js'%}"></script>

          <!-- Node Waves JS-->
          <script src="{% static 'assets/libs/node-waves/waves.min.js'%}"></script>

          <!-- Simplebar JS -->
          <script src="{% static 'assets/libs/simplebar/simplebar.min.js'%}"></script>
          <script src="{% static 'assets/js/simplebar.js'%}"></script>

          <!-- Auto Complete JS -->
          <script src="{% static 'assets/libs/@tarekraafat/autocomplete.js/autoComplete.min.js'%}"></script>

          <!-- Color Picker JS -->
          <script src="{% static 'assets/libs/@simonwep/pickr/pickr.es5.min.js'%}"></script>

          <!-- Date & Time Picker JS -->
          <script src="{% static 'assets/libs/flatpickr/flatpickr.min.js'%}"></script>

