<h2 class="text-xl font-bold mb-4">Sign In</h2>
<form method="POST" action="{% url 'account_login' %}" hx-target="#content" hx-swap="outerHTML">
  {% csrf_token %}
  {{ form.non_field_errors }}
  <div class="mb-6" style="padding-bottom: 16px;">
    <label for="id_login" class="block mb-2">Email:</label>
    {{ form.login }}
  </div>
  <div class="mb-6" style="padding-bottom: 10px;">
    <label for="id_password" class="block mb-2">Password:</label>
    {{ form.password }}
  </div>
  <div class="flex gap-6" style="padding-bottom: 10px;">
    <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded">Sign In</button>
    <a href="{% url 'account_signup' %}" hx-target="#content" hx-swap="outerHTML">
      <button type="button" class="bg-green-500 text-white py-2 px-4 rounded">Register</button>
    </a>
  </div>
  <div class="mt-6">
    <a href="{% url 'account_reset_password' %}" class="text-blue-600 hover:underline">Forgot your password?</a>
  </div>
</form>
